<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
 
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>EncryptionServlet</servlet-name>
        <servlet-class>com.smallfe.clerk.EncryptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecryptionServlet</servlet-name>
        <servlet-class>com.smallfe.clerk.DecryptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EncryptionServlet</servlet-name>
        <url-pattern>/encryption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecryptionServlet</servlet-name>
        <url-pattern>/decryption</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restricted URLs</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
